header#about
    .container
        .row
            .col-lg-12
                //- h2 Front-End Web/Mobile Developer
                .clearfix
                    .moving-slogan-wrap
                        sloganleft I am a
                        b.siteslogan
                            sloganright.text-left
                                | front-end web developer
                                br
                                | mobile developer
                                br
                                | undergraduate researcher
                                br
                                | technology enthusiast
                                br
                                | sushi addict
                                br
                                | a Thai college kid in the Using
                                br
                                | ready to change the world
                hr.star-primary
        .row
            .col-lg-8
                .intro-text.text-left
                    img.img-rounded.img-responsive.img-centered(style='width: 250px;', src='img/avatar.jpg', alt='Profile Image')
                    br
                    p.text-center
                        i
                            b University of Washington (Seattle, WA), Communications - 2018
                    hr
                    p
                        | I am a technology enthusiast who's dedicated to creating, improving, and working with technologies
                        | that empower us all. My internship experiences at various companies both in the United States
                        | and in Thailand contribute to the volume of knowledge in industry's standards and principles
                        | that I possess, making me a well-qualified candidate for any company looking to hire a talented
                        | undergraduate.
                    p
                        | My resume is available 
                        a(href='media/Kongurai_Naruth_grad2018.pdf') here
                        | . Please contact me directly at 
                        a(href='mailto:naruthk@uw.edu') naruthk@uw.edu
                    hr
            .col-lg-4
                h3 Background
                p.text-left
                    | I was never a coder since childhood, but I have always been interested in programming and the productivity
                    | and benefits like seeing what I help to develop make an impact in customers' lives. Here's what I
                    | have done so far.
                p
                    span.tagcloud-span.bg-primary
                        | Worked on 3 websites using 
                        b HTML, PUG, SCSS, 
                        |  with experience using 
                        b SiteCore
                    span.tagcloud-span.bg-success
                        | Worked on two
                        b  Android mobile apps
                    span.tagcloud-span.bg-danger
                        | Using 
                        b Python
                        |  to analyze data for Scratch Coding Platform
                    span.tagcloud-span.bg-warning
                        | Learning to use 
                        b TypeScript
                        |  and 
                        b React
                        |  for production
                p
