//-  WORK

// OgilvyOne
#workOgilvyOne.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 OgilvyOne
                        small a subsidary of Ogilvy & Mather
                        hr.star-primary
                        img.img-responsive.img-centered(src='img/company_ogilvyone.jpg', alt='')
                        p
                            | I assisted in the front-end web developments using Sitecore CMS for the Thailand websites of
                            | Nivea and SHOW DC Mall, and Drupal CMS for Milo Thailand. I also updated and maintaind functional specification documents and help integrate
                            | new advertising campaigns into their websites, as well as creating email templates for Samsung Thailand.
                        hr
                        h5 Internship Experience
                        p 
                            | It was an incredible opportunity to intern at such a globally known advertising company. I was incredibly lucky enough to 
                            | have a chance to work with Ogily's clients like Nivea, Eucerin, Samsung, and SHOW DC.
                        hr
                        h5 Websites I Worked On
                        a.portfolio-link(href='http://www.showdc.co.th', data-toggle='modal')
                            button.btn.btn-link(type='button')
                                i.fa.fa-link
                                |  SHOW DC Mall Website (Updated 2017)
                        a.portfolio-link(href='http://www.nivia.co.th/experience', data-toggle='modal')
                            button.btn.btn-link(type='button')
                                i.fa.fa-link
                                |  Nivea Experience (Thailand)
                        a.portfolio-link(href='https://milo.co.th/%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%9A%E0%B9%88%E0%B8%87%E0%B8%81%E0%B8%A5%E0%B8%B8%E0%B9%88%E0%B8%A1%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%82%E0%B9%88%E0%B8%87%E0%B8%82%E0%B8%B1%E0%B8%99-%E0%B9%84%E0%B8%A1%E0%B9%82%E0%B8%A5-%E0%B8%9F%E0%B8%B8%E0%B8%95%E0%B8%8B%E0%B8%AD%E0%B8%A5-2017', data-toggle='modal')
                            button.btn.btn-link(type='button')
                                i.fa-fa-link
                                | Milo Thailand
                        hr
                        ul.list-inline.item-details
                            li
                                | Company: 
                                strong  OgilvyOne
                            li
                                | Date: 
                                strong  July - September 2017
                            li
                                | Development: 
                                strong  HTML5, CSS3, Javascript, NodeJS, SCSS, PUG, TypeScript, Visual Studio Code
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// Bitsee
#workBitsee.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2
                            | Bitsee
                        hr.star-primary
                        img.img-responsive.img-centered(src='img/company_bitsee.png', alt='')
                        p
                            | I interned at a technology startup named Bitsee Inc., that is working on a mobile app that uses
                            | Machine Learning and Computer Vision to do automatic video analysis. I worked specifically
                            | on integrating and enhancing the app’s tutorial so that users will have a good overall user
                            | experience. A key part of my job was also to ensure the app was bug-free by conducting tests
                            | on multiple mobile phone’s screen sizes and Android versions.
                        hr
                        ul.list-inline.item-details
                            li
                                | Company: 
                                strong  Bitsee
                            li
                                | Date: 
                                strong  January - March 2017
                            li
                                | Development: 
                                strong  Java, Android Studio, Genymotion, Bitbucket
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// Bitsee
#workCPAll.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2
                            | CP All
                        hr.star-primary
                        img.img-responsive.img-shrink-half.img-centered(src='img/company_cpall.png', alt='')
                        h5 Internship Overview
                        p
                            | When I was interning at CP All, I helped to develop a mobile app designed to allow 7-11 employees to submit their satisfactory ratings for services made
                            | by the Transporatation and Delivery Services. The app, which I helped to create, is currently used
                            | by more than 9000 7-11 convenience stores in Thailand. I also developed the front-end side of a webpage that
                            | establishes and retrieves various rating results from multiple databases.
                        hr
                        ul.list-inline.item-details
                            li
                                | Company: 
                                strong
                                    a(href='http://www.cpall.co.th') CP All (owns 7-Eleven)
                            li
                                | Internship Period: 
                                strong  September 2016
                            li
                                | Development: 
                                strong  PHP, jQuery, MySQL, Bootstrap, CSS, Java, Android, Android Studio
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// Tatanka Arts
#workTatanka.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 Tatanka Arts Website
                        hr.star-primary
                        img.img-responsive.img-centered(src='img/tatanka_webui_light.png', alt='')
                        p
                            | I learned so much from my one year working for the organization. It was a small project for me,
                            | and despite still being in high school, I was determined to do well and demonstrated that
                            | I have the required mentality and the right skills to do something great for the local community
                            | and to finally have a breakthrough into the realm of web design and development.
                        hr
                        p
                            | Tatanka Arts is a local organization showcasing artworks beautifully made by artists residing
                            | near/in Redwood Falls, Minnesota.
                        ul.list-inline.item-details
                            li
                                | Organization: 
                                strong
                                    a(href='http://www.tatankaarts.org/') Tatanka Arts
                            li
                                | Date: 
                                strong 2012
                            li
                                | Build with: 
                                strong HTML3, CSS
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close













//-  PROJECTS


// CP All
#project7ElevenWeb.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 "DC Satisfaction" Voting Results Website
                        hr.star-primary
                        img.img-responsive.img-centered(src='img/web_dcsatisfcation_mock.png', alt='')
                        p
                            i
                                | A comprehensive, front-end database viewer developed mainly with PHP, jQuery, and MySQL
                        hr
                        p
                            | I built this front-end web app so that each 7-Eleven's manager and executive staffs can analyze
                            | the performance of 7-Eleven's delivery services.
                        p The website remains live and active as of April 26th, 2017.
                        hr
                        h5 Sample code
                        p.codepen(data-height='400', data-theme-id='dark', data-slug-hash='wdgKZx', data-default-tab='js', data-user='naruth1212', data-embed-version='2', data-pen-title='Javascript Sample for Selecting Content to Display')
                            | See the Pen 
                            a(href='http://codepen.io/naruth1212/pen/wdgKZx/') Javascript Sample for Selecting Content to Display
                            |                                 by Naruth Kongurai (
                            a(href='http://codepen.io/naruth1212') @naruth1212
                            | ) on 
                            a(href='http://codepen.io') CodePen
                            | .
                        script(async='', src='https://production-assets.codepen.io/assets/embed/ei.js')
                        hr
                        h5 Resources
                        a.portfolio-link(href='http://isscloud.cpall.co.th/qrvote/database.php', data-toggle='modal')
                            button.btn.btn-link(type='button')
                                i.fa.fa-link
                                |  DC Satisfaction Website
                        hr
                        ul.list-inline.item-details
                            li
                                | Company: 
                                strong
                                    a(href='http://www.cpall.co.th') CP All (owns 7-Eleven)
                            li
                                | Internship Period: 
                                strong  September 2016
                            li
                                | Development: 
                                strong  PHP, jQuery, MySQL, Bootstrap, CSS
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// 7-Eleven
#project7ElevenApp.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 DC Satisfaction Voting App
                        hr.star-primary
                        img.img-responsive.img-centered(src='img/mobile_dcsatisfaction_mock_home.png', alt='')
                        p
                            | The “DC Satisfaction Rating App” is a user-friendly and speedy app that allows employees of 7-Eleven
                            | (which is owned by CP All) to rate how well they are satisfied with the services and the
                            | delivery of goods. The app is now used by thousands of employees working at more than 8,000
                            | 7-Eleven convenience stores in Thailand. The app's interface is in Thai.
                        hr
                        h5 App Logic + Initial Design
                        img.img-centered.img-responsive(src='img/dcvoteapp_logic.png', alt='App Logic')
                        p
                            | It is an important to make sure the app was very easy to use in one hand. Many of the users might
                            | be using the app while carrying packages or be in the process of delivering them. It was
                            | equally important to ensure the user experiences a seamless transition from one section of
                            | the app to another.
                        hr
                        h5 Simplistic Design
                        .row
                            .col-sm-4
                                img.img-responsive.img-centered(src='img/mobile_dcsatisfaction_mock_login.png', alt='')
                            .col-sm-4
                                img.img-responsive.img-centered(src='img/mobile_dcsatisfaction_mock_home.png', alt='')
                            .col-sm-4
                                img.img-responsive.img-centered(src='img/mobile_dcsatisfaction_mock_vote.png', alt='')
                        hr
                        ul.list-inline.item-details
                            li
                                | Company: 
                                strong
                                    a(href='http://www.cpall.co.th/') CP All (owns 7-Eleven)
                            li
                                | Date: 
                                strong  July - September 2016
                            li
                                | Build with: 
                                strong  Java, Android Studio, Adobe Photoshop, Sublime, MySQL, JSON
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close

// Bitsee App
#projectBitseeApp.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 Bitsee App
                        hr.star-primary
                        img.img-responsive.img-centered(src='img/company_bitsee.png', alt='')
                        p More information about the app will be revealed as soon as possible.
                        hr
                        ul.list-inline.item-details
                            li
                                | Company: 
                                strong  Bitsee
                            li
                                | Date: 
                                strong  January - March 2017
                            li
                                | Development: 
                                strong  Java, Android Studio, Genymotion, Bitbucket
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close


// ShowDC Shopping Mall
#projectSHOWDC.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 Show DC Shopping Mall
                        hr.star-primary
                        img.img-responsive.img-centered.img-shrink-half.img-rounded(src='img/project_showdc_webscreenshot.png', alt='Show DC Mall')
                        p 
                            | I was responsible for writing the HTML and CSS codes to replicate a design that had been approved by the client (SHOW DC). 
                            | The design was completed in Photoshop, and the development tool I used was Sitecore CMS and Visual Studio Code.
                        p I was also working on its mobile site, which actually functioned independently from the desktop site.
                        hr
                        h5 Live Webpages
                        a.portfolio-link(href='http://www.showdc.co.th', data-toggle='modal')
                            button.btn.btn-link(type='button')
                                i.fa.fa-link
                                |  SHOW DC Homepage
                        hr
                        ul.list-inline.item-details
                            li
                                | Date: 
                                strong 2017
                            li
                                | Build with: 
                                strong Sitecore, HTML, CSS
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// NIVEA Campaigns
#projectNIVEACampaigns.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 NIVEA Experience Platform
                        hr.star-primary
                        img.img-responsive.img-centered.img-rounded(src='img/project_nivea_webscreenshot.png', alt='Nivea')
                        p 
                            | I worked on the Microsoft's CMS platform called Sitecore, using it to publish beauty articles made by
                            | beauty bloggers onto the NIVEA Thailand website. I also helped integrate certain sections of the Thailand's
                            | NIVEA website, such as fixing the bugs in the Experience section of the website.
                        hr
                        h5 Live Webpages
                        a.portfolio-link(href='http://www.nivea.co.th/experience', data-toggle='modal')
                            button.btn.btn-link(type='button')
                                i.fa.fa-link
                                |  NIVEA Experience Site
                        a.portfolio-link(href='http://www.nivea.co.th/ext/th-TH/NIVEA-FOR-LIFE/Sassy-Society', data-toggle='modal')
                            button.btn.btn-link(type='button')
                                i.fa.fa-link
                                |  NIVEA Blogger Review
                        hr
                        ul.list-inline.item-details
                            li
                                | Date: 
                                strong 2017
                            li
                                | Build with: 
                                strong Sitecore, HTML, CSS
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// Undergraduate Researcher
#projectUndergraduateResearcher.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 Undergraduate Researcher
                        hr.star-primary
                        img.img-responsive.img-centered.img-shrink-half.img-rounded(src='img/project_undergraduate_research.png', alt='Community Data Science Collective')
                        h5 Honors Program
                        p
                            strong Faculty Advisor:
                            |  Assistant Professor Benjamin Mako Hill (Communication, HCDE)
                        hr
                        h5 Proposal
                        p
                            | My honors thesis (still being revised) is 
                            strong Characterization and Effects of Comments Made on Scratch Coding Platform
                            | .
                            |                                 My project will seek to analyze how the quantity/type of comments received make a Scratcher
                            |                                 more or less likely to comment on others’ projects. In other words, it will be a study of
                            |                                 how comments received affect comments left.
                        hr
                        h5 Scratch
                        p
                            img.img-shrink-half(src='img/media_logo_scratch.png', alt='Scratch Logo')
                        p
                            | Developed by MIT and launched in 2002, the Scratch platform is both a programming language and
                            | an online community that provides the opportunity for children to program and create interactive
                            | content and share them with other Scratch users around the world. By 2017, more than eighteen
                            | million users have registered on the Scratch platform. On Scratch, users can create and work
                            | on projects and can also post comments. The ability to provide feedback by commenting on
                            | other people’s work makes Scratch a social community.
                        hr
                        h5 Classification
                        p To start on Autumn 2017
                        hr
                        h5 Analysis
                        p To begin on Winter 2018
                        hr
                        h5 Conclusion
                        p To conclude on Spring 2018
                        hr
                        h5 Resources
                        p
                            a.portfolio-link(href='http://scratch.mit.edu/')
                                button.btn.btn-link(type='button')
                                    i.fa.fa-link
                                    |  Learn more about Scratch
                        p
                            a.portfolio-link(href='https://mako.cc/')
                                button.btn.btn-link(type='button')
                                    i.fa.fa-link
                                    |  Assistant Professor Benjamin Mako's Website
                        hr
                        ul.list-inline.item-details
                            li
                                | Research Group: 
                                strong
                                    a(href='https://wiki.communitydata.cc/') Community Data Science Collective
                            li
                                | Date: 
                                strong 2017
                            li
                                | Build with: 
                                strong Python
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// Web Programming Resources
#project154WebResources.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 Web Programming Resources for Beginner
                        hr.star-primary
                        img.img-responsive.img-shrink-half.img-centered.img-rounded(src='img/academia_uwcse.png', alt='Web Programming Resources')
                        p
                            | I started working on a beginner's guide to basics of web development in 2017. I wanted to encourage
                            | people to try do web programming even if they have or do not have prior coding experience
                            | before. I really think that web programming is fun and I thought the tutorial can help them
                            | begin that journey into web development.
                        hr
                        h5 Resources
                        p You can find the tutorial on my GitHub site. Link to it is down below.
                        p
                            a.portfolio-link(href='https://naruthk.github.io/web154_help/')
                                button.btn.btn-link(type='button')
                                    i.fa.fa-link
                                    |  Tutorial Site
                        hr
                        ul.list-inline.item-details
                            li
                                | Date: 
                                strong May 2017
                            li
                                | Institution: 
                                strong University of Washington
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// Community Data Science Collective
#projectCDSC.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 Community Data Science Collective
                        hr.star-primary
                        img.img-responsive.img-centered.img-shrink-half.img-rounded(src='img/academia_cdsc.png', alt='Community Data Science Collective')
                        p
                            | Community Data Science Collective is a research group comprising of faculty members from the
                            | Department of Communication, Computer Science, and Human-Centered Design and Engineering,
                            | and graduate students pursuing degrees in Computer Science.
                        hr
                        h5 Focus
                        p
                            | Our research is particularly focused on how the design of communication and information technologies
                            | shape fundamental social outcomes with broad theoretical and practical implications — like
                            | an individual’s decision to join a community, contribute to a public good, or a group’s ability
                            | to make decisions democratically.
                        hr
                        h5 Resources
                        p You can find out more about me on the group's website.
                        p
                            a.portfolio-link(href='https://wiki.communitydata.cc/People#Naruth_Kongurai_.28University_of_Washington.29')
                                button.btn.btn-link(type='button')
                                    i.fa.fa-link
                                    |  My profile at CDSC
                        hr
                        ul.list-inline.item-details
                            li
                                | Research Group: 
                                strong
                                    a(href='https://wiki.communitydata.cc/') Community Data Science Collective
                            li
                                | Date: 
                                strong 2017
                            li
                                | Institution: 
                                strong University of Washington
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// OS Language Translator
#projectOneLaptopPerChildTranslator.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 Translator for Sugar OS
                        hr.star-primary
                        img.img-responsive.img-centered(src='img/project_onelaptopperchild_sugaros.jpeg', alt='')
                        p
                            | I am a volunteer at One Laptop Per Child, an organization that aims to provide resources and
                            | access to technology to every children around the world, particularly in poor regions.
                        p
                            | Whenever I have time, I help the team of Thai people working for the organization to translate
                            | words from English to Thai. The words that are translated can be anything from normal English
                            | words in everyday conversations to specific words that are a part of the Sugar operating
                            | system.
                        hr
                        ul.list-inline.item-details
                            li
                                | Organization:
                                strong
                                    a.portfolio-link(href='http://one.laptop.org/') One Laptop Per Child Website
                                    hr
                            li
                                | Date:
                                strong
                                    | March 2017
                            li
                                | Build with:
                                strong
                                    | Javascript, HTML, CSS
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// Speed Reader Web App
#projectSpeedReader.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 Speed Reader
                        hr.star-primary
                        img.img-responsive.img-centered(src='img/project_speedreader_ui.png', alt='')
                        p
                            | This web application allows you to train yourself to read faster! This uses the RSVP (Rapid Serial
                            | Visual Presentation) method.One word appears one at a time so that you as a reader can focus
                            | on just a single word. Each word appears in quick succession (you can set the speed), which
                            | allows you to try at a level you prefer.
                        hr
                        h5 Resources
                        a.portfolio-link(href='play/speedreader/speedreader.html', data-toggle='modal')
                            button.btn.btn-link(type='button')
                                i.fa.fa-link
                                |  Demo
                        hr
                        ul.list-inline.item-details
                            li
                                | Class:
                                strong
                                    | CSE 154 - Web Programming
                            li
                                | Date:
                                strong
                                    | March 2017
                            li
                                | Build with:
                                strong
                                    | Javascript, HTML, CSS
                        button.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// Best Reads
#projectBestReads.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 Best Reads
                        hr.star-primary
                        img.img-responsive.img-centered(src='img/project_bestreads_ui.png', alt='')
                        p
                            | This is a replica of Goodreads, where users can provide books ratings, give reviews, and browse
                            | other people's reviews. The website contains a decent amount of "fake" reviews and content,
                            | although the books' information are real.
                        p
                            | The assignment requires me to create my own PHP file that returns information in the format of
                            | JSON or plain text according to the kind of queries the user has entered in the URL. It was
                            | a fun experience working with PHP and JSON data, while using Javascript to accomplish the
                            | interactions.
                        p Thanks to Goodreads for the inspiration!
                        hr
                        h5 Resources
                        a.portfolio-link(href='play/bestreads/bestreads.html')
                            button.btn.btn-link(type='button')
                                i.fa.fa-link
                                |  Demo
                        hr
                        ul.list-inline.item-details
                            li
                                | Class:
                                strong
                                    | CSE 154 - Web Programming
                            li
                                | Date:
                                strong
                                    | May 2017
                            li
                                | Build with:
                                strong
                                    | Javascript, PHP, Promise, HTML, CSS
                        button#btnSubmit.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// Pokemon Battle
#projectPokemonBattle.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 Pokemon Battle
                        hr.star-primary
                        img.img-responsive.img-centered(src='img/project_pokemonbattle_ui.png', alt='')
                        p
                            | Everybody loves a good game of Pokemon. While it does not have the nicest of interface, it's
                            | the gameplay that matters. This Pokemon Battle game was an assignment in my web development
                            | course that required me to write a Javascript file that connects to an external server to
                            | retrieve information like Pokemon characters, stats, moves, and game states. These data are
                            | then populated into specified areas in the page that the user sees in the browser.
                        hr
                        h5 Coding
                        p Coming soon
                        hr
                        h5 Resources
                        a.portfolio-link(href='play/pokemon-battle/pokedex.html')
                            button.btn.btn-link(type='button')
                                i.fa.fa-link
                                |  Demo
                        hr
                        ul.list-inline.item-details
                            ul.list-inline.item-details
                                li
                                    | Class:
                                    strong
                                        | CSE 154 - Web Programming
                                li
                                    | Date:
                                    strong
                                        | May 2017
                                li
                                    | Build with:
                                    strong
                                        | Javascript, Promise, HTML, CSS
                        button#btnSubmit.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// Weather Forecast Web App
#othersWeatherForecast.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 Weather Forecast Web App
                        hr.star-primary
                        p
                            i Live weather forecast for Seattle (it's where I live)
                        hr
                        h5 Demo
                        .demo-box
                            p#demo-message
                            p#error-message-weather.danger
                            p
                                span.glyphicon.glyphicon-time  
                                span#weather-today-date
                            p
                                span.glyphicon.glyphicon-map-marker  
                                span#weather-location
                            hr
                            #weather-content.text-center
                            p#test
                        hr
                        p
                            | This was the first time I have ever used Javascript to interact with API calls and retrieve information
                            | from an external server as JSON. It was a fun experience and a good mess to play with.
                        hr
                        ul.list-inline.item-details
                            ul.list-inline.item-details
                                li
                                    | API:
                                    strong
                                        | Yahoo Weather
                                li
                                    | Date:
                                    strong
                                        | May 2017
                                li
                                    | Build with:
                                    strong
                                        | Javascript, HTML, CSS
                        button#btnSubmit.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// Liverpool Mobile App
#othersAppLiverpoolFC.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 Liverpool Mobile App using Adobe XD
                        hr.star-primary
                        // <img src="img/design_liverpoolnews.png" class="img-responsive img-centered" alt="">
                        video(autoplay='', loop='')
                            source(src='http://students.washington.edu/naruthk/media/Liverpool_App.mp4', type='video/mp4')
                            |  Your browser does not support the video tag.
                        p.small Animated version
                        hr
                        p
                            | Soccer is my passion too and the team that I enjoy cheering is Liverpool FC, a UK based professional
                            | soccer team. So I used Adobe XD to sketch out and design a prototype of my Liverpool app's
                            | interface.
                        hr
                        h5 Interface
                        p
                            img.img-responsive.img-centered(src='img/mobile_liverpoolapp_landing.png', alt='Landing Page')
                            |                                 Landing Page
                        p.small
                            | When the user launches the application, Bill Shankly's quote shows up. Shankly was one of Liverpool's
                            | greatest manager in the 90s who made Liverpool so popular globally. Between his quote and
                            | his name is a loading bar that, when fully loaded, will be completely white.
                        hr
                        p
                            img.img-responsive.img-centered(src='img/mobile_liverpoolapp_news.png', alt='News Page')
                            |                                 News Page
                        p.small
                            | The user then lands on the News section. By default club news is selected. However, users can
                            | tap on the "Filter News" bar to customize.
                        hr
                        p
                            img.img-responsive.img-centered(src='img/mobile_liverpoolapp_match.png', alt='Match Page')
                            |                                 Matches Page
                        p.small
                            | I think a user wants to see the results of the most recent match first, so that's what is shown
                            | at the top. The user can then scroll down to preview other matches.
                        hr
                        ul.list-inline.item-details
                            ul.list-inline.item-details
                                li
                                    | Images:
                                    strong
                                        | Wikipedia for the club logos, Liverpool Official Website for match photos.
                                li
                                    | Date:
                                    strong
                                        | May 2017
                                li
                                    | Build with:
                                    strong
                                        | Adobe XD
                        button#btnSubmit.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close
// Paradise Lost
#othersLiteratureParadiseLost.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
        .close-modal(data-dismiss='modal')
            .lr
                .rl
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .modal-body
                        h2 Paradise Lost
                        hr.star-primary
                        img.img-responsive.img-centered(src='play/paradiselost/images/paradiselost_01_cover.png', alt='Paradise Lost Cover')
                        p
                            | A short adaptation of John Milton's classic literary work, using words and syntax that are easier
                            | to read. It's the story of Satan as he was cast out of hell for wreaking havoc on God's creation,
                            | mankind.
                        p
                            | I wrote and illustrated this adaptation for my English literature class at the University of
                            | Washington.
                        hr
                        h5 Resources
                        a.portfolio-link(href='play/paradiselost/')
                            button.btn.btn-link(type='button')
                                i.fa.fa-link
                                |  Read the story
                        hr
                        ul.list-inline.item-details
                            ul.list-inline.item-details
                                li
                                    | Illustrations:
                                    strong I did all the illustrations using Fresh Paint app on the Surface Pro.
                                li
                                    | Date:
                                    strong
                                        | May - June 2017
                                li
                                    | Build with:
                                    strong
                                        | Fresh Paint, Story5 (Website theme)
                        button#btnSubmit.btn.btn-default(type='button', data-dismiss='modal')
                            i.fa.fa-times
                            |  Close