section#work.success
    .container.text-center
        h2 Companies
        hr.star-light
        p Learn more by clicking on each company's icon

section.work
    .container
        // OGILVYONE
        .row
            .col-sm-6.text-center
                .portfolio-item.bottom-spacing
                    a.portfolio-link(href='#workOgilvyOne', data-toggle='modal')
                        img.animated.fadeIn.img-centered.img-rounded(src='img/company_ogilvyone.png', alt='OgilvyOne')
            .col-sm-6
                p
                    | I assisted in the front-end web developments using Sitecore CMS for the Thailand websites of
                    | Nivea and SHOW DC Mall, and Drupal CMS for Milo. I also updated and maintaind functional specification documents and help integrate
                    | new advertising campaigns into their websites, as well as creating HTML email templates for Samsung Thailand using Foundation.
                p
                    span.workcategory-span.bg-success.pull-right  Web Development
        hr
        // BITSEE
        .row
            .col-sm-6.text-center
                .portfolio-item.bottom-spacing
                    a.portfolio-link(href='#workBitsee', data-toggle='modal')
                        img.animated.fadeIn.img-centered.img-rounded(src='img/company_bitsee.png', style='width: 120px;', alt='Bitsee')
            .col-sm-6
                p
                    | Bitsee is a promising startup that is creating a mobile app that uses Machine Learning and Computer Vision to do automatic video analysis.
                    | I worked specifically on integrating and enhancing the app’s tutorial so that users will have a good
                    | overall user experience.
                p
                    span.workcategory-span.bg-warning.pull-right  Android Mobile Development
        hr
        // CP ALL
        .row
            .col-sm-6.text-center
                .portfolio-item.bottom-spacing
                    a.portfolio-link(href='#workCPAll', data-toggle='modal')
                        img.animated.fadeIn.img-centered.img-rounded(src='img/company_cpall.png', alt='CP All')
            .col-sm-6
                p
                    | When I was interning at CP All, I helped to develop a mobile app designed to allow 7-11 employees to submit their satisfactory ratings for services made
                    | by the Transporatation and Delivery Services. The app, which I helped to create, is currently used
                    | by more than 9000 7-11 convenience stores in Thailand. I also developed the front-end side of a webpage that
                    | establishes and retrieves various rating results from multiple databases.
                p
                    span.workcategory-span.bg-success.pull-right  Web Development
        hr
        //- // 7-11
        //- .row
        //-     .col-sm-6.text-center
        //-         .portfolio-item.bottom-spacing
        //-             a.portfolio-link(href='#work7Eleven', data-toggle='modal')
        //-                 img.animated.fadeIn.img-centered.img-rounded(src='img/company_7-eleven.png', alt='7-Eleven')
        //-     .col-sm-6
        //-         p
        //-             | When I was interning at CP All, I helped to develop a mobile app designed to allow 7-11 employees to submit their satisfactory ratings for services made
        //-             | by the Transporatation and Delivery Services. The app, which I helped to create, is currently used
        //-             | by more than 9000 7-11 convenience stores in Thailand.
        //-         p
        //-             span.workcategory-span.bg-warning.pull-right  Android Mobile Development
        //- hr
        // Tatanka Arts
        .row
            .col-sm-6.text-center
                .portfolio-item.bottom-spacing
                    a.portfolio-link(href='#workTatanka', data-toggle='modal')
                        img.animated.fadeIn.img-centered.img-rounded(src='img/company_tatankaarts.png', alt='Tatanka Arts')
            .col-sm-6
                p
                    | Back in 2012, I volunteered to help Tatanka Arts,
                    | a local arts organization in Minnesota, to design and develop a website for them.
                p
                    span.workcategory-span.bg-success.pull-right  Web Development
